<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<br>
<center><h1>Student表</h1></center>
<table border="1" cellspacing="0" align="center" width="1400dp">
    <!--    width="1000dp" height="500dp">-->
    <tr>
        <td width="200" height="50" >学号</td>
        <td width="200" height="50" >名字</td>
        <td width="200" height="50" >年级</td>
        <td width="200" height="50" >班级</td>
        <td width="200" height="50" >身份证号</td>
        <td width="200" height="50" >银行卡号</td>
        <td width="200" height="50" >队伍</td>
        <td width="200" height="50" >操作</td>
    </tr>
    <tr th:each="student:${students}">
        <!--    <tr th:each="user:${users}" th:text="${user}">-->
        <td width="200" height="50" th:text="${student.getSno()}"></td>
        <td width="200" height="50" th:text="${student.getS_name()}"></td>
        <td width="200" height="50" th:text="${student.getGrade()}"></td>
        <td width="200" height="50" th:text="${student.getS_class()}"></td>
        <td width="200" height="50" th:text="${student.getID_card()}"></td>
        <td width="200" height="50" th:text="${student.getBank_card()}"></td>
        <td width="200" height="50" th:text="${student.getTeam()}"></td>
        <!--        <h3 th:each="user:${users}" th:text="${user}"></h3>-->
        <td>
            <a th:href="@{/update(sno=${student.getSno()} , s_name=${student.getS_name()} , grade= ${student.getGrade()} , s_class=${student.getS_class()} ,ID_card=${student.getID_card()} , Bank_card=${student.getBank_card()} , team=${student.getTeam()})}">
                <button class="ant-btn ant-btn-primary">修改</button>
            </a>
            <!--    <a th:href="@{/showAllUser(page=${usersPage.totalPages})}" role="button">末页</a>        -->
            <a th:href="@{/deleteStudent(sno=${student.getSno()})}"><button class="ant-btn ant-btn-red">删除</button></a>
        </td>
    </tr>
</table>
<center>
    <a href="/addstudent.html"><button class="ant-btn ant-btn-primary">新增</button></a>
    <!--    按钮跳转方法
            input type="button" value="我是一个按钮"
            οnclick="javascrtpt:window.location.href='http://blog.sina.com.cn/mleavs'">
    -->
    <!--  < a  href = "https://www.baidu.com/" >
         < button >点我跳转到度娘！</ button >
         </ a >
      -->
</center>
</body>
</html>