<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
    <h1>index</h1><a></a>
    <div th:if="${session.account != null}">
        <span th:text="${session.account.username} + '欢迎回来！'"></span>
        <a href="/logout">退出</a>
    </div>
    <a href="/main">main</a><br>
    <a href="/manager">manager</a><br>
    <a href="/administrator">administrator</a>
</body>
</html>